<div class="container">


  <div class="row">
    <div class="col-md-8" style="background-color: #18BC9C;padding-bottom: 10px;padding-top: 10px">
      <div style="font-size: 25px; padding-left: 2px">
        <%= image_tag "profile.png" %>
        Winner Winner,Chicken Dinner!
      </div>
   
    </div>

    <div class="col-md-5">
      <h1>欢迎来到选课系统！</h1>
      <p></p>
      
      <ul>

        <li class="text-danger">
          处理选课冲突、控制选课人数
        </li>
        <li class="text-danger">
          统计选课学分,增加选课的开放、关闭功能
        </li>
        <li class="text-danger">
          自定义管理员后台
        </li>
        <li class="text-danger">
          基于OAuth的授权登陆
        </li>
        <li class="text-danger">
          Excel格式的数据导入
        </li>
      </ul>

    </div>

  </div>

  <hr>

  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-info text-center">
        开发此项目,你需要具备以下的知识:
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-md-4">
      <h2>Bootstrap</h2>
      <p>Bootstrap，来自 Twitter，是目前很受欢迎的前端框架。Bootstrap 是基于 HTML、CSS、JAVASCRIPT 的，它简洁灵活，使得 Web 开发更加快捷. 它由Twitter的设计师Mark
        Otto和Jacob Thornton合作开发，是一个CSS/HTML框架。Bootstrap提供了优雅的HTML和CSS规范，它即是由动态CSS语言Less写成。</p>
      <a class="btn btn-info" href="http://www.w3schools.com/bootstrap/">More Info</a>
    </div>    
  </div>
</div>
